.upcoming-events {
    // height: 320px;
    background-color: #540d6e;
    color: white;
    padding: 40px;

    .title {
        font-family: GillSansReg;
        font-size: 18px;
        height: 35px;
        width: 392px;
        border-bottom: solid 2px white;
        padding-bottom: 40px;

        h1 {
        }
    }

    .events {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;

        .event {
            width: 210px;
            height: 124px;
            display: flex;
            justify-content: space-between;

            .date {
                width: 60px;
                height: 60px;
                background-color: #ee4367;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
            }

            .event-detail {
                font-family: GillSansReg;
                font-size: 12px;
                width: 140px;

                .highlights {
                font-family: GillSansReg;
                font-size: 15px;
                }
                
                .details {
                    font-family: GillSansReg;
                    font-size: 13px;
                    color: #ee4367;
                }
            }
        }
    }
}

@media (max-width: 1140px){
    .upcoming-events {
        .events {
            flex-wrap: wrap;
            .event {

            }
        }
    }
}